<div id="offers-content">
  <%= render "layouts/flash_notice" %>
  <%= render "map" %>

  <div class="offer-actions pull-right">
    <%= link_to new_offer_path, class: ["btn", "btn-default"] do %>
      <span class="glyphicon glyphicon-plus-sign"></span>
      New
    <% end %>

    <%= link_to "", class: ["btn", "btn-primary", "btn-upload"] do %>
      <span class="glyphicon glyphicon-upload"></span>
      Upload TSV
    <% end %>

    <% unless @offers.empty? %>
      <%= link_to destroy_all_offers_path, class: ["btn", "btn-danger"], method: "delete", confirm: "Are you sure?" do %>
        <span class="glyphicon glyphicon-trash"></span>
        Delete All
      <% end %>
    <% end %>
  </div>

  <%= render "upload_form" %>

  <table class="table table-striped table-condensed table-offers">
    <thead>
      <tr>
        <th>Business name</th>
        <th>Address</th>
        <th>Postal code</th>
        <th>Latitude</th>
        <th>Longitude</th>
        <th>Distance from Verve</th>
        <th>Actions</th>
      </tr>
    </thead>

    <tbody>
    </tbody>
  </table>
</div>

<%= content_for :init do %>
  <%= javascript_tag do %>
    (function() {
        "use strict";

        var offers = new app.Offers(<%= @offers.to_json(methods: ["address", "full_postal_code", "distance_in_miles"]).html_safe %>),
            verveOffice = new app.Coordinates(<%= Offer::VerveCoordinates.to_json.html_safe %>);

        var view = new app.OffersView({
            el: "#offers-content",
            offers: offers,
            verveOffice: verveOffice
        });
    })();
  <% end %>
<% end %>
